body{
	background-color: #0099D0;
	text-align: center;

}

h1 {
	color: #C7DAE9;
}
.election, .money {
    display:inline-block;
    position: relative;
    margin: 5px;
    float:left;
    width: calc(45% - 10px);
    height:450px;
    background-color: lightgrey;
		text-align: center;
}

.canvassing {
	display:inline-block;
	position: relative;
	margin: 5px;
	float:left;
	width: calc(45% - 10px);
	height:450px;
	background-color: lightgrey;
	text-align: center;
}

.map {
	display:inline-block;
	position: relative;
	margin: 5px;
	float:left;
	width: calc(45% - 10px);
	height:450px;
	
	text-align: center;
}

#tableMoney, #tableVols {
		margin: auto;
		display: inline-table;

  }
