body{
	background-color: #ffe5cc;

}

.election, .money, .canvassing, .communication{
    display:inline-block;
    position: relative;
    margin: 5px;
    float:left;
    width: calc(25% - 10px);
    height:400px;
    background-color: lightgrey;
}
